<h2>Add New Brand</h2>
<form action="/brand_form" method="post">
  <div class="form-group">
    <label class="form-label" for='brand_name'>Assign a name to new Brand:</label>
    <input class="form-control" id='brand_name' name='brand_name' type="text">
    <label class="form-label" for='brand_price'>Assign a price to new Brand:</label>
    <input class="form-control" id='brand_price' name='brand_price' type="text">
    <button type="submit" class="button btn">Add Brand</button>
  </div>
</form>
