<h2>Add New Store</h2>
<form action="/store_form" method="post">
  <div class="form-group">
    <label class="form-label" for='store_name'>Assign a name to new Store:</label>
    <input class="form-control" id='store_name' name='store_name' type="text">
    <input type="hidden" name="_method" value="patch">
    <br>
    <br>
    <h3>Add Brands:</h3>
    <% @brands.each do |brand| %>
      <div class="checkbox">
        <label for="add_brands">
          <input type="checkbox" name="brand_ids[]" value="<%= brand.id %>"><%= brand.brand_name %><br>
        </label>
      </div>
    <% end %>
    <button type="submit" class="button btn">Add Store</button>
  </div>
</form>
